<section class="content">
  <div class="row">
    <div class="col-md-3">
      <div class="box box-primary">
        <div class="box-body box-profile">
          <%= link_to edit_client_path(@client.id), :class => "btn btn-block btn-success btn-lg" do %>
            <i class="fa fa-pencil-square-o"> Editar Cliente</i>
          <% end %>

          <%#= image_tag 'logo_tormenz.png', class: "profile-user-img img-responsive img-circle" %>

          <h3 class="profile-username text-center"><%= @client.name %></h3>

          <p class="text-muted text-center"><%= @client.full_name %></p>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Email</b> <a class="pull-right"><%= @client.email %></a>
            </li>
            <li class="list-group-item">
              <b>Direccion</b> <a class="pull-right"><%= @client.address %></a>
            </li>
            <li class="list-group-item">
              <b>Codigo Postal</b> <a class="pull-right"><%= @client.postal_code %></a>
            </li>
            <li class="list-group-item">
              <b>Telefono</b> <a class="pull-right"><%= @client.phone_number %></a>
            </li>
            <li class="list-group-item">
              <b>Celular</b> <a class="pull-right"><%= @client.cellphone %></a>
            </li>
            <li class="list-group-item">
              <b>Contacto</b> <a class="pull-right"><%= @client.contact %></a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <!--<li class="active"><a href="#activity" data-toggle="tab">Archivos del artículo:</a></li>-->
          <li><a href="#timeline" data-toggle="tab">Timeline del Cliente</a></li>
        </ul>
        <div class="tab-content" ng-controller="clientController" ng-init="client=<%= @client.new_record? ? 0 : @client.id %>">
          <div class="active tab-pane" id="timeline">
            <ul class="timeline timeline-inverse">
              <% @audits.reverse_each do |audit| %>
                <% if audit.action == "create" and audit.associated_id.nil? %>
                  <li class="time-label">
                    <span class="bg-red">
                      <%= audit.created_at.strftime("%d / %m / %Y") %>
                    </span>
                  </li>
                  <li>
                    <i class="fa fa-plus bg-green"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> <%= audit.created_at.strftime("%H:%M") %></span>

                      <h3 class="timeline-header"><strong><%=t(".audit.create")  %> <%= t(".audit.by") %>  <%= "#{User.find(audit.user_id).try(:employee_number)} - #{User.find(audit.user_id).try(:full_name)}"  if audit.user_id.present? %> </strong></h3>

                      <div class="timeline-body">
                        <%= t(".audit.create_mesage") %>
                      </div>
                      <!--<div class="timeline-footer">-->
                      <!--<a class="btn btn-primary btn-xs">Read more</a>-->
                      <!--<a class="btn btn-danger btn-xs">Delete</a>-->
                      <!--</div>-->
                    </div>
                  </li>
                <% elsif audit.action == "create" and audit.associated_id%>
                  <li class="time-label">
                    <span class="bg-red">
                      <%= audit.created_at.strftime("%d / %m / %Y") %>
                    </span>
                  </li>
                  <li>
                    <i class="fa fa-plus bg-green"></i>
                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> <%= audit.created_at.strftime("%H:%M") %></span>

                      <h3 class="timeline-header"><strong><%=t(".audit.create")  %> <%= t(".audit.by") %>  <%= "#{User.find(audit.user_id).try(:employee_number)} - #{User.find(audit.user_id).try(:full_name)}"  if audit.user_id.present? %> </strong></h3>

                    </div>
                  </li>
                <% elsif audit.action == "delete" and audit.associated_id%>
                  <li class="time-label">
                    <span class="bg-red">
                      <%= audit.created_at.strftime("%d / %m / %Y") %>
                    </span>
                  </li>
                  <li>
                    <i class="fa fa-plus bg-green"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> <%= audit.created_at.strftime("%H:%M") %></span>

                      <h3 class="timeline-header"><strong><%=t(".audit.create")  %> <%= t(".audit.by") %>  <%= "#{User.find(audit.user_id).try(:employee_number)} - #{User.find(audit.user_id).try(:full_name)}"  if audit.user_id.present? %> </strong></h3>

                      <div class="timeline-body">
                        <%= audit.auditable_type == "ItemFile" ? t(".audit.file_mesage"): t(".audit.maintenance_mesage")  %>:
                        <br>
                      </div>

                    </div>
                  </li>
                <% else %>
                  <li class="time-label">
                    <span class="bg-red">
                      <%= audit.created_at.strftime("%d / %m / %Y") %>
                    </span>
                  </li>
                  <li>
                    <i class="fa fa-refresh bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> <%= audit.created_at.strftime("%H:%M") %></span>

                      <!-- TODO: Verificar porque el audit no tiene user_id -->
                      <h3 class="timeline-header">
                        <strong>
                          <%=t(".audit.#{audit.action}")  %> <%= t(".audit.by") %>  <%= "#{User.find(audit.user_id).try(:employee_number)} - #{User.find(audit.user_id).try(:full_name)}"  if audit.user_id.present? %>
                        </strong>
                      </h3>


                      <div class="timeline-body">
                        <% audit.audited_changes.keys.each do |key| %>

                          <%# unless key.eql?('user_id') %>
<!--                            <%#= "#{t('.audit.change')}: " %><strong><%#= t(".audit.#{key}") %></strong>-->
                          <%#end%>

                          <%# case key %>
                        <%# when "time_unit_service"  %>
<!--                            <%#= " #{t('.audit.from')} " %> <strong><%#= audit.audited_changes[key][0].nil? ? "#{t('.audit.nil')}" : t(".time_units.#{audit.audited_changes[key][0].to_s}") %></strong>-->
<!--                            <%#= " #{t('.audit.to')} " %> <strong><%#= audit.audited_changes[key][1].nil? ? "#{t('.audit.nil')}" : t(".time_units.#{audit.audited_changes[key][1].to_s}") %></strong>-->


                          <%# else %>
                            <%# unless key.eql?('user_id') %>
<!--                              <%#= " #{t('.audit.from')} " %>  <strong><%#= audit.audited_changes[key][0].nil? ? "#{t('.audit.nil')}" : audit.audited_changes[key][0] %></strong>-->
<!--                              <%#= " #{t('.audit.to')} " %>  <strong><%#= audit.audited_changes[key][1].nil? ? "#{t('.audit.nil')}" : audit.audited_changes[key][1] %></strong>-->
                            <%#end%>
                          <%# end %>


                          <br>
                        <% end %>
                      </div>

                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>