<section class="content" ng-controller="itemController">

  <div class="row" ng-init="get_item_json(<%= @item.id %>)">
    <div class="col-md-6">
      <!-- Profile Image -->
      <div class="box box-primary">
        <% if @item.status_item.key == 'pendiente' %>
          <div class="box-body box-profile">

            <%= link_to edit_item_path(@item.id), :class => "btn btn-block btn-info btn-lg" do %>
              <i class="fa fa-plus "> Crear</i>
            <% end %>

            <% if @item.trailer.image.attached? %>
              <%= link_to image_tag(@item.trailer.image, :class => 'profile-user-img img-responsive img-circle', :size => '65x65'), "#{url_for(@item.trailer.image)}", :target => "_blank" %>
            <% else %>
              <%= link_to image_tag('trailers_default', :class => 'profile-user-img img-responsive img-circle', :size => '65x65'), "trailers_default.png", :target => "_blank"  %>
            <% end %>

            <h3 class="profile-username text-center"><%= @item.name %></h3>

            <p class="text-muted text-center"><%= @item.accessory %></p>

            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b><%= t("items.form.model") %></b> <a class="pull-right"><%= @item.try(:trailer).try(:model) %></a>
              </li>
              <li class="list-group-item">
                <b><%= t("items.form.client") %></b>
                <p class="text-muted">
                  <a class="pull-right"><%= @item.client.try(:full_name) %></a>
                </p>
              </li>
              <li class="list-group-item">
                <b><%= t("items.form.advance_payment") %></b>
                <a class="pull-right"><%= "$ #{ "%.2f" % @item.advance_payment if @item.advance_payment.present?}" %></a>
              </li>
              <li class="list-group-item">
                <strong><i class="fa fa-book margin-r-5"></i><%= "#{t("items.form.category")} / #{ t("items.form.sub_category")}" %>
                </strong>
                <p class="text-muted">
                  <%= "#{@item.try(:trailer).try(:sub_category).try(:category).try(:name) if @item.try(:trailer).try(:sub_category).present?} / #{ @item.try(:trailer).try(:sub_category).try(:name)}" %>
                </p>
              </li>
              <!--<li class="list-group-item">-->
              <!--<b><%#= t("items.form.provider") %></b> <a class="pull-right"><%#= @item.provider.try("name") %></a>-->
              <!--</li>-->
              <li class="list-group-item">
                <strong><i class="fa fa-home margin-r-5"></i><%= "#{t("items.form.branch")}" %></strong>
                <p class="text-muted">
                  <%= "#{@item.try(:user).try(:department).try(:branch).try(:name)}" %>
                </p>
              </li>
              <li class="list-group-item">
                <strong><i class="fa fa-home margin-r-5"></i><%= "#{t("items.form.department")}" %></strong>
                <p class="text-muted">
                  <%= "#{@item.try(:user).try(:department).try(:name)}" %>
                </p>
              </li>
              <li class="list-group-item">
                <strong><i class="fa fa-user margin-r-5"></i>Vendedor</strong>
                <p class="text-muted">
                  <%= "#{@item.user.try("full_name")}" %>
                </p>
              </li>

              <li class="list-group-item">
                <b><%= t("items.form.status_item") %></b>
                <a class="pull-right"><%= @item.status_item.try("description") %></a>
              </li>

              <!-- <li class="list-group-item">
                 <strong><i class="fa fa-book margin-r-5"></i> Education</strong>
                 <p class="text-muted">
                   B.S. in Computer Science from the University of Tennessee at Knoxville
                 </p>
               </li>-->

              <!--<li class="list-group-item">-->
              <!--<strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>-->

              <!--<p class="text-muted">Malibu, California</p>-->

              <!--</li>-->

            </ul>

            <%= link_to edit_order_path(@item.id), :class => "btn btn-block btn-danger btn-lg" do %>
              <i class="fa fa-pencil "> Editar</i>
            <% end %>

          </div>
        <% else %>
          <div class="box-body box-profile">

            <a class="btn btn-block btn-success btn-lg" ng-click="show()">
              <i class="fa fa-handshake-o "> Vender</i>
            </a>

            <% if @item.trailer.image.attached? %>
              <%= link_to image_tag(@item.trailer.image, :class => 'profile-user-img img-responsive img-circle', :size => '65x65'), "#{url_for(@item.trailer.image)}", :target => "_blank" %>
            <% else %>
              <%= link_to image_tag('trailers_default', :class => 'profile-user-img img-responsive img-circle', :size => '65x65'), "trailers_default.png", :target => "_blank"  %>
            <% end %>

            <h3 class="profile-username text-center"><%= @item.name %></h3>

            <p class="text-muted text-center"><%= @item.accessory %></p>

            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b><%= t("items.form.model") %></b> <a class="pull-right"><%= @item.try(:trailer).try(:model) %></a>
              </li>
              <li class="list-group-item">
                <b><%= t("items.form.serial_number") %></b>
                <p class="text-muted">
                  <a class="pull-right"><%= @item.serial_number %></a>
                </p>
              </li>
              <li class="list-group-item">
                <b><%= t("items.form.purchased_date") %></b> <a class="pull-right"><%= @item.purchased_date %></a>
              </li>
              <li class="list-group-item">
                <b><%= t("items.form.price") %></b>
                <a class="pull-right"><%= "$ #{ "%.2f" % @item.price if @item.price.present?}" %></a>
              </li>
              <li class="list-group-item">
                <strong><i class="fa fa-book margin-r-5"></i><%= "#{t("items.form.category")} / #{ t("items.form.sub_category")}" %>
                </strong>
                <p class="text-muted">
                  <%= "#{@item.sub_category.category.try("name") if @item.sub_category.present?} / #{ @item.sub_category.try("name")}" %>
                </p>
              </li>
              <!--<li class="list-group-item">-->
              <!--<b><%#= t("items.form.provider") %></b> <a class="pull-right"><%#= @item.provider.try("name") %></a>-->
              <!--</li>-->
              <li class="list-group-item">
                <strong><i class="fa fa-home margin-r-5"></i><%= "#{t("items.form.branch")}" %></strong>
                <p class="text-muted">
                  <%= "#{@item.try(:branch).try(:name)}" %>
                </p>
              </li>
              <li class="list-group-item">
                <strong><i class="fa fa-home margin-r-5"></i><%= "#{t("items.form.department")}" %></strong>
                <p class="text-muted">
                  <%= "#{@item.try(:department).try(:name)}" %>
                </p>
              </li>
              <li class="list-group-item">
                <strong><i class="fa fa-user margin-r-5"></i><%= "#{t("items.form.user")}" %></strong>
                <p class="text-muted">
                  <%= "#{@item.user.try("full_name")}" %>
                </p>
              </li>

              <li class="list-group-item">
                <b><%= t("items.form.brand") %></b> <a class="pull-right"><%= @item.brand.try("name") %></a>
              </li>
              <li class="list-group-item">
                <b><%= t("items.form.status_item") %></b>
                <a class="pull-right"><%= @item.status_item.try("description") %></a>
              </li>

              <!-- <li class="list-group-item">
                 <strong><i class="fa fa-book margin-r-5"></i> Education</strong>
                 <p class="text-muted">
                   B.S. in Computer Science from the University of Tennessee at Knoxville
                 </p>
               </li>-->

              <!--<li class="list-group-item">-->
              <!--<strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>-->

              <!--<p class="text-muted">Malibu, California</p>-->

              <!--</li>-->

            </ul>

            <%= link_to edit_item_path(@item.id), :class => "btn btn-block btn-danger btn-lg" do %>
              <i class="fa fa-pencil "> Editar</i>
            <% end %>

          </div>

        <% end %>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-6">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <!--<li class="active"><a href="#activity" data-toggle="tab">Archivos del artículo:</a></li>-->
          <li><a href="#timeline" data-toggle="tab">Timeline del artículo</a></li>
        </ul>
        <div class="tab-content">

          <%#= render "item_file.html.erb" %>

          <div class="active tab-pane" id="timeline">
            <ul class="timeline timeline-inverse">
              <!-- timeline time label -->
              <% @audits.reverse_each do |audit| %>
                <% if audit.action == "create" and audit.associated_id.nil? %>

                  <% if audit.version == 2 %>
                    <li class="time-label">
                            <span class="bg-red">
                              <%= audit.created_at.strftime("%d / %m / %Y") %>
                            </span>
                    </li>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <li>
                      <i class="fa fa-plus bg-green"></i>

                      <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> <%= audit.created_at.strftime("%H:%M") %></span>

                        <h3 class="timeline-header"><strong><%= t(".audit.create") %> </strong></h3>

                        <div class="timeline-body">
                          Se Creó el Remolque
                        </div>
                        <!--<div class="timeline-footer">-->
                        <!--<a class="btn btn-primary btn-xs">Read more</a>-->
                        <!--<a class="btn btn-danger btn-xs">Delete</a>-->
                        <!--</div>-->
                      </div>
                    </li>
                  <% end %>
                <% elsif audit.action == "create" and audit.associated_id %>
                  <li class="time-label">
                          <span class="bg-red">
                            <%= audit.created_at.strftime("%d / %m / %Y") %>
                          </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-plus bg-green"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> <%= audit.created_at.strftime("%H:%M") %></span>

                      <h3 class="timeline-header">
                        <strong><%= t(".audit.create") %> <%= t(".audit.by") %>  <%= "#{User.find(audit.user_id).try(:employee_number)} - #{User.find(audit.user_id).try(:full_name)}" if audit.user_id.present? %> </strong>
                      </h3>

                      <div class="timeline-body">
                        <%= audit.auditable_type == "ItemFile" ? t(".audit.file_mesage") : t(".audit.maintenance_mesage") %>
                        :
                        <br>
                        <%= audit.auditable_type == "ItemFile" ? t(".file_type.#{audit.audited_changes["file_type"]}") : audit.audited_changes["description"] %>
                      </div>
                      <!--<div class="timeline-footer">-->
                      <!--<a class="btn btn-primary btn-xs">Read more</a>-->
                      <!--<a class="btn btn-danger btn-xs">Delete</a>-->
                      <!--</div>-->
                    </div>
                  </li>
                <% elsif audit.action == "delete" and audit.associated_id %>
                  <li class="time-label">
                          <span class="bg-red">
                            <%= audit.created_at.strftime("%d / %m / %Y") %>
                          </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-plus bg-green"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> <%= audit.created_at.strftime("%H:%M") %></span>

                      <h3 class="timeline-header">
                        <strong><%= t(".audit.create") %> <%= t(".audit.by") %>  <%= "#{User.find(audit.user_id).try(:employee_number)} - #{User.find(audit.user_id).try(:full_name)}" if audit.user_id.present? %> </strong>
                      </h3>

                      <div class="timeline-body">
                        <%= audit.auditable_type == "ItemFile" ? t(".audit.file_mesage") : t(".audit.maintenance_mesage") %>
                        :
                        <br>
                        <%= audit.auditable_type == "ItemFile" ? t(".file_type.#{audit.audited_changes["file_type"]}") : audit.audited_changes["description"] %>
                      </div>
                      <!--<div class="timeline-footer">-->
                      <!--<a class="btn btn-primary btn-xs">Read more</a>-->
                      <!--<a class="btn btn-danger btn-xs">Delete</a>-->
                      <!--</div>-->
                    </div>
                  </li>
                <% else %>
                  <li class="time-label">
                          <span class="bg-red">
                            <%= audit.created_at.strftime("%d / %m / %Y") %>
                          </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-refresh bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> <%= audit.created_at.strftime("%H:%M") %></span>

                      <!-- TODO: Verificar porque el audit no tiene user_id -->
                      <h3 class="timeline-header">
                        <strong>
                          <%= t(".audit.#{audit.action}") %> <%= t(".audit.by") %>  <%= "#{User.find(audit.user_id).try(:employee_number)} - #{User.find(audit.user_id).try(:full_name)}" if audit.user_id.present? %>
                        </strong>
                      </h3>


                      <div class="timeline-body">
                        <% audit.audited_changes.keys.each do |key| %>

                          <% unless key.eql?('user_id') %>
                            <%= "#{t('.audit.change')}: " %><strong><%= t(".audit.#{key}") %></strong>
                          <% end %>

                          <% case key %>
                        <% when "time_unit_service" %>
                            <%= " #{t('.audit.from')} " %>
                            <strong><%= audit.audited_changes[key][0].nil? ? "#{t('.audit.nil')}" : t(".time_units.#{audit.audited_changes[key][0].to_s}") %></strong>
                            <%= " #{t('.audit.to')} " %>
                            <strong><%= audit.audited_changes[key][1].nil? ? "#{t('.audit.nil')}" : t(".time_units.#{audit.audited_changes[key][1].to_s}") %></strong>

                          <% when "provider_id" %>
                            <%= " #{t('.audit.from')} " %>
                            <strong><%= audit.audited_changes[key][0].nil? ? "#{t('.audit.nil')}" : Provider.find_by(id: audit.audited_changes[key][0].to_s).try('name') %></strong>
                            <%= " #{t('.audit.to')} " %>
                            <strong><%= audit.audited_changes[key][1].nil? ? "#{t('.audit.nil')}" : Provider.find_by(id: audit.audited_changes[key][1].to_s).try('name') %></strong>

                          <% when "department_id" %>
                            <%= " #{t('.audit.from')} " %>
                            <strong><%= audit.audited_changes[key][0].nil? ? "#{t('.audit.nil')}" : Department.find_by(id: audit.audited_changes[key][0].to_s).try('name') %></strong>
                            <%= " #{t('.audit.to')} " %>
                            <strong><%= audit.audited_changes[key][1].nil? ? "#{t('.audit.nil')}" : Department.find_by(id: audit.audited_changes[key][1].to_s).try('name') %></strong>

                          <% when "sub_category_id" %>
                            <%= " #{t('.audit.from')} " %>
                            <strong><%= audit.audited_changes[key][0].nil? ? "#{t('.audit.nil')}" : SubCategory.find_by(id: audit.audited_changes[key][0].to_s).try('name') %></strong>
                            <%= " #{t('.audit.to')} " %>
                            <strong><%= audit.audited_changes[key][1].nil? ? "#{t('.audit.nil')}" : SubCategory.find_by(id: audit.audited_changes[key][1].to_s).try('name') %></strong>

                            <%# when "user_id"  %>
                            <%#= " #{t('.audit.from')} " %>
                            <strong><%#= audit.audited_changes[key][0].nil? ? "#{t('.audit.nil')}" : User.find_by(id: audit.audited_changes[key][0].to_s).try('full_name') %></strong>
                            <%#= " #{t('.audit.to')} " %>
                            <strong><%#= audit.audited_changes[key][1].nil? ? "#{t('.audit.nil')}" : User.find_by(id: audit.audited_changes[key][1].to_s).try('full_name') %></strong>

                          <% when "brand_id" %>
                            <%= " #{t('.audit.from')} " %>
                            <strong><%= audit.audited_changes[key][0].nil? ? "#{t('.audit.nil')}" : Brand.find_by(id: audit.audited_changes[key][0].to_s).try('name') %></strong>
                            <%= " #{t('.audit.to')} " %>
                            <strong><%= audit.audited_changes[key][1].nil? ? "#{t('.audit.nil')}" : Brand.find_by(id: audit.audited_changes[key][1].to_s).try('name') %></strong>

                          <% when "status_item_id" %>
                            <%= " #{t('.audit.from')} " %>
                            <strong><%= audit.audited_changes[key][0].nil? ? "#{t('.audit.nil')}" : StatusItem.find_by(id: audit.audited_changes[key][0].to_s).try('name') %></strong>
                            <%= " #{t('.audit.to')} " %>
                            <strong><%= audit.audited_changes[key][1].nil? ? "#{t('.audit.nil')}" : StatusItem.find_by(id: audit.audited_changes[key][1].to_s).try('name') %></strong>

                          <% else %>
                            <% unless key.eql?('user_id') %>
                              <%= " #{t('.audit.from')} " %>
                              <strong><%= audit.audited_changes[key][0].nil? ? "#{t('.audit.nil')}" : audit.audited_changes[key][0] %></strong>
                              <%= " #{t('.audit.to')} " %>
                              <strong><%= audit.audited_changes[key][1].nil? ? "#{t('.audit.nil')}" : audit.audited_changes[key][1] %></strong>
                            <% end %>
                          <% end %>


                          <br>
                        <% end %>
                      </div>
                    </div>
                  </li>
                <% end %>

              <% end %>
              <li>
                <i class="fa fa-clock-o bg-gray"></i>
              </li>
            </ul>


          </div>

        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

<script id="modal_venta.html" type='text/ng-template'>
  <div class="modal modal-fullscreen">
    <div class="modal-dialog">
      <div class="modal-content form-horizontal" style="width: 900px">
        <div class="modal-header">
          <button class="button close" aria-hidden="true" data-dismiss="modal" type="button" >x</button>
          <h4 class="modal-title">
            Venta de Remolque
          </h4>
        </div>
        <div class="box-body">
          <div class="row form-group">
            <label class="col-md-3 control-label">
              Froma de Pago:
            </label>
            <div class="col-md-6">
              <select class="form-control" ng-model="item.payment_type" ng-options="payment_type.id as payment_type.type for payment_type in payment_types" >
                <option disabled="" selected="" value=""> Seleccionar Forma de Pago</option>
              </select>

            </div>
          </div>


          <div class="row form-group">
            <label class="col-md-3 control-label">
              Precio Venta: {{item.sale_price}}
            </label>
            <div class="col-md-6">
              <input type="text"  ng-model="item.sale_price" format="currency" class="form-control" />
            </div>

          </div>


            <div class="row form-group" ng-show="item.payment_type>1">
              <label class="col-md-3 control-label">
                Comprobante:
              </label>
              <div class="col-md-6">

                <input type="file" ngf-select ng-model="item.image" name="image"
                       accept="image/*" ngf-max-size="2MB" required
                       ngf-model-invalid="errorFile">
              </div>
            </div>

            <div class="row form-group">
              <label class="col-md-3 control-label">
                Vendedor:
              </label>
              <div class="col-md-6">
                <input class="form-control" type="hidden" ng-model="item.user_id" ng-value="item.user_id ='<%= current_user.id %>'">
                <input class="form-control" disabled ng-model="user_name" ng-value="user_name = '<%= current_user.full_name %>'">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-md-3 control-label">
                Cliente:
              </label>
              <div class="col-md-6">
                <%= select_tag "client", options_from_collection_for_select(Client.all, "id", "full_name"), class: 'form-control', prompt: "Seleccionar Cliente", 'ng-model' => 'item.client_id' %>

              </div>
            </div>

            <div class="row form-group">
              <label class="col-md-3 control-label">
                Uso de CFDI:
              </label>
              <div class="col-md-6">
                <%= select_tag "fiscal_voucher", options_from_collection_for_select(FiscalVoucher.all, "id", "name"), class: 'form-control', prompt: "Seleccionar CFDI", 'ng-model' => 'item.fiscal_voucher_id' %>

              </div>
            </div>

            <div class="row form-group">
              <label class="col-md-3 control-label">
                Observaciones:
              </label>
              <div class="col-md-6">
              <textarea class="form-control" ng-model="item.description" value="<%= current_user.full_name %>">
              </textarea>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button class="btn btn-primary" ng-click="uploadSell(<%= @status_pendiente.id %>)" data-dismiss="modal"> Aceptar</button>
          </div>


      </div>


    </div>
  </div>

  </script>

</section>
